<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorkHive</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WorkHive.styles.css" asp-append-version="true" />
    <style>


        .navbar {
         
            background-color: #1dbf73;
        }

        .navbar-nav .nav-link {
            color: white !important;
            font-size: 1.1rem;
        }

            .navbar-nav .nav-link:hover {
                background-color: #0f7f59;
                border-radius: 5px;
            }

        .navbar-brand {
            margin-left:15px;
            font-size: 1.8rem;
            font-weight: bold;
            color: white !important;
        }

        

        .nav-buttons .btn {
            margin-left: 15px;
         
            
        }
       

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#">WorkHive</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex justify-content-around collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Post a Job</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hire Freelancers</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Web Development</a>
                            <a class="dropdown-item" href="#">Graphic Design</a>
                            <a class="dropdown-item" href="#">Content Writing</a>
                            <a class="dropdown-item" href="#">SEO Optimization</a>
                            <a class="dropdown-item" href="#">Video Editing</a>
                            <a class="dropdown-item" href="#">Writing & Translation</a>
                            <a class="dropdown-item" href="#">Cybersecurity</a>
                            <a class="dropdown-item" href="#">Digital Marketing</a>
                        </div>
                        </div>
                    </li>
                </ul>

                <div class="ml-auto nav-buttons">

                    <button class="btn btn-success" onclick="location.href='/freelancer/createFreelancer';">Join as Freelancer</button>
                    <button class="btn btn-primary" onclick="location.href='/home/postJob';">Post a Job</button>
                    <button class="btn btn-outline-success " onclick="location.href='Logout';">Logout</button>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WorkHive - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
