@{
    Layout = null;
    ViewBag.Title = "Login";
}
<div class="login-container">
    <h1 class="login-header">WorkHive</h1>
    <h2 class="login-subheader">Login to existing account</h2>
    <div class="dont">Don't have an account? <a href="@Url.Action("Register")"> Sign Up</a></div>

    <form method="post" action="/User/Login" class="login-form">
        <label for="email" class="login-label">Email:</label>
        <input type="email" name="email" id="email" class="login-input" required /><br />

        <label for="password" class="login-label">Password:</label>
        <input type="password" name="password" id="password" class="login-input" required /><br />

        <button type="submit" class="login-button">Login</button>
    </form>

    <p class="text-danger">@ViewBag.Error</p>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #004d33;
        display: flex;
        justify-content: center;
       /*  align-items: center; */
        height: 100vh;
        margin: 0;
    }
   
    .login-container {
        margin-top:40px;
        text-align: center;
        width: 100%;
        max-width: 450px;
    }

    .login-header {
        font-size: 3rem;
        font-weight: bold;
        color: white;
        margin-bottom: 10px;
    }

    .login-subheader {
        font-size: 1.5rem;
        color: #b3e6cc;
        margin-bottom: 10px;

    }

    .dont {
        color: white;
        margin-bottom: 30px;
    }
    a {
        color: #b3e6cc;
    }

    a:hover {
        color: #80cc99;
      
    }
    .login-form {
        background-color: #006644;
        padding: 30px;
        border-radius: 8px;
        text-align: left;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .login-label {
        font-size: 1rem;
        color: white;
      
        display: block;
        margin-bottom: 8px;
    }

    .login-input {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 2px solid white;
    }

        .login-input:focus {
            outline: none;
            border-color: #004d33;
        }

    .login-button {
        width: 100%;
        padding: 10px;
        background-color: #1dbf73;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 1rem;
        font-weight:bold;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .login-button:hover {
            background-color: #0f7f59;
        }

    .text-danger {
        color: #e74c3c;
        font-size: 0.9rem;
        margin-top: 10px;
    }
</style>
